.img_wrapper {
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
}
ul {
  list-style: none;
}
.big_separate {
  background: @separate_col;
  padding: 50px;
  .align();
}

.wrapper_capt {
  margin: 20px 0 10px 0;
}
.section_capt {
  color: @light_black;
  padding: 60px 0;
  .align();

}
.shadow_separate {
  .shadow(0 0 6px 4px  @bord_color);
}
.list_inline {
  list-style: none;
  li {
    display: inline-block;
  }
}
.check_marker {
  .align(left);
  list-style: none;
  li {
    background: url('../img/check-gray.jpg') no-repeat left center;
    padding-left: 35px;
  }
}
.no_padd {
  padding: 0;
}
.img_center {
  .margin_align();
}
.margin_align {
  .margin_align();
}
.overlay {
  background: @base_overlay;
}
.base_bg {
  background: @base_color;
}
.inline_block {
  display: inline-block;
}