.button {
  display: block;
  width: @button_width;
  padding: 13px;
  box-sizing: border-box;
  font-size: @baseFontSize + 2;
  background: @base_color;
  color: @white;
  text-transform: uppercase;
  .align();
  &.circle {
    background: transparent;
    .border(@white);
    .radius(@button_width / 2);
    .btn_hover();
  }
}