.items_panels {
  .item_wrapper {
    padding: 0 40px;
   .item {
     cursor: pointer;
     @item_background: darken(@base_color, 15%);
     background: @item_background;
     .dark_hover(@item_background);
    }
    .item_thumb {
      width: 30%;
      overflow: hidden;
      img {
        max-width: 100%;
        height: auto;
        .img_hover();
      }
    }
    .item_about {
      padding: 25px;
      .more_btn {
        margin-top: 25px;
      }
    }
  }
}

.item_preview {
  .item_thumb {
    margin-bottom: 20px;
    width: 272px;
    height: 272px;
    overflow: hidden;
    .margin_align();
    .border();
    .radius(50%);
  }
  .item_heading {
    margin-bottom: 10px;
  }
  .item_options {
    .align();
    ul {
      list-style: none;
      li {
        display: inline-block;
      }
    }
    &.stimulation {
      //width: 50%;
      ul {
        .align();
        li {
          width: 30%;
          //float: left;
          span {
            .margin_align();
            display: block;
            background: @textGray;
            width: 30px;
            height: 4px;
            .radius(5px);
            margin-bottom: 5px;
            &.pink {
              background: @base_color;
            }

          }
        }
      }
    }
    &.multiply_body {
      ul {
        padding: 0;
      }
      i {
        .margin_align();
      }
    }
  }
  .item_heading {
    .align();
  }
}