main {
  &.main_page {
    .main_banner {
      .cover('../img/main_banner.jpg');
      height: 550px;
    }
    .text {
      margin-top: 350px;
    }
    .about_smart {
      padding: 0 0 50px 0;
      .title {
        h2 {
          line-height: 2.5;
        }
      }
      .smart_text {
        padding: 0 20px;
        p {
          line-height: 1.7;
        }
      }
    }
    .screen_carousel {
      padding: 100px;
    .screen_slides {
      .slides {
        .margin_align();
        }
      }
      .carousel_about {
        ul {
          padding: 0;
            li {
              line-height: 2.3;
            }
          &.device_ul {
            li {
              i {
                margin-right: 15px;
                font-size: 16px;
              }
            }
          }
        }
      }
      .carousel_controls {
        margin-top: 50px;
        .align();
        a {
          &.prev {
            float: left;
          }
          &.next {
            float: right;
          }
        }
        i {
          font-size: 60px;
        }
      }
    }
    .advantage_instuction {
      .cover('../img/bf_rrr.jpg');
      background: url('../img/bf_rrr.jpg') no-repeat 0 bottom;
      padding: 100px 0 300px 0;
      background-size: 100%;
      h2 {
        margin-bottom: 20px;
      }
      .content {
        .content_text {
        div {
          margin-bottom: 0px;
          padding: 20px;
            .wrapper {
              min-height: 200px;
              .radius(15px);
              .border(@base_color);
            }
          }
          p {
            line-height: 1.7;
          }
        }
      }
    }
  }
}

.main_wrapper {
  .cover('../img/banner.jpg');
  height: 100%;
  padding: 150px 0 50px 0;
  .items_panels {
    margin-top: 100px;
  }
}
.nora {
  .top_wrapper {
    height: 600px;
    .cover('../img/nora-banner.jpg');
  }
  .text {
    &.bottom_text {
      margin-top: 350px;
    }
  }
  .item_opt {
    margin-top: 35px;
  }
  .advantage {
    .button {
      margin-top: 50px;
    }
  }
  .interface_view {
    margin-bottom: 100px;
    padding: 25px 0 50px 0;
  }
  .instruction_steps {
    padding-bottom: 100px;
    h1 {
      margin-bottom: 50px;
    }
    .button {
      margin-top: 50px;
    }
    .text {
      p {
        font-size: @baseFontSize + 8;
      }
    }
  }
  .bot_advantage {
    padding: 50px 0;
  }
  .item_text {
    .check_marker {
      width: 85%;
      .margin_align();
      li {
        line-height: 2;
        font-size: @p_larg;
      }
    }
  }
  .item_commplect {
    padding: 50px 0;
    .dildo_shem {
      height: 400px;
    }
    .dildo_text {
      padding: 125px 0 0 125px;
      border-left: 1px dashed @bord_color;
      height: 400px;
    }
    ul {
      li {
        line-height: 2.2;
        font-size: @p_larg;
      }
    }
  }
}