.sprite_nora_vibration {
  background-image: url(../img/nora-level-2.jpg);
  background-repeat: no-repeat;
  display: block;
  width: 70px;
  height: 40px;
  &.low {
    background-position: left top;
  }
  &.medium {
    background-position: center center;
  }
  &.high {
    background-position: right center;
  }
}

.stitches-sprite_nora_adv(@x: 0, @y: 0, @width: 0, @height: 0) {
  background-position: @x @y;
  width: @width;
  height: @height;
}

.sprite_nora_adv {
  background-image: url('../img/sprite_nora_advantage.png');
  background-repeat: no-repeat;
  display: block;

  &.sprite_nora_adv-control_ico {
    .stitches-sprite_nora_adv(-5px, -5px, 146px, 92px);
  }

  &.sprite_nora_adv-play_ico {
    .stitches-sprite_nora_adv(-5px, -95px, 106px, 92px);
  }

  &.sprite_nora_adv-sex_ico {
    .stitches-sprite_nora_adv(-161px, -5px, 144px, 92px);
  }
}

.stitches-sprite_nora_bott(@x: 0, @y: 0, @width: 0, @height: 0) {
  background-position: @x @y;
  width: @width;
  height: @height;
}

.sprite_nora_bott {
  background-image: url('../img/sprite_nora_bott.png');
  background-repeat: no-repeat;
  display: block;

  &.sprite_nora_bott-sprite_nora {
    .stitches-sprite_nora_bott(-5px, -5px, 374px, 379px);
  }

  &.sprite_nora_bott-sprite_nora_2 {
    .stitches-sprite_nora_bott(-389px, -5px, 353px, 354px);
  }

  &.sprite_nora_bott-sprite_nora_3 {
    .stitches-sprite_nora_bott(-389px, -369px, 351px, 351px);
  }
}


