//colors
@black: #3b3b3b;
@white: #ffffff;
@base_color: #ff7a18;
@second_base_color: #9eda36;
@text_color_base: #e95927;
@backgroundGray: #fafafa;
@bord_color: #f2f2f2;
@separate_color: #e3e3e3;
@textGray: #acacac;
@shadow: rgba(0, 0, 0, 0.4);
@shadow_color: #f9f9f9;
@blue: #33b5cb;
@yellow: #ffde1f;
@modalBackground: transparent;
@toggleColor: #3b3b3b;
@lightBlack: #3c3c3c;
@footer_color: #fafafa;
@br_col: #a4a4a4;
@base_shadow: 0 0 10px 6px @shadow_color;
//colors



// font
@baseFont: 'open_sans';
@mediumFont: 'roboto_medium';
@lightFont: 'roboto_light';
@ultraLightFont: 'roboto_thin';
@ultraBoldFont: 'raleway_black';
@plumbLight: 'plumb_light';
@dincyr: 'DINCyr';
@open_sans_bold: 'open_sans_bold';
// font
// size
@smallFont: 13px;
@baseFontSize: 14px;
@h1_size: 60px;
@h2_size: 36px;
@h3_size: @h2_size - 10;
@h4_size: 18px;
@h1_larg: 100px;
@h2_larg: 83px;
@h2_small: 30px;

@header_height: 60px;
@mobile_header_height: 105px;
@second_header: 125px;
@footer_height: 210px;
@mobile_footer_height: 175px;
@carousel_height: 520px;
@item_height: 370px;
// size
