@font-face {
  font-family: open_sans;
  src: url('../fonts/open-sans.regular.ttf');
}
@font-face {
  font-family: roboto_light;
  src: url('../fonts/RobotoLight.ttf');
}
@font-face {
  font-family: roboto_thin;
  src: url('../fonts/roboto-thin.ttf');
}
@font-face {
  font-family: roboto_medium;
  src: url('../fonts/RobotoMedium.ttf');
}
@font-face {
  font-family: roleway_black;
  src: url('../fonts/RALEWAY-BLACK.ttf');
}
.img_wrapper {
  overflow: hidden;
}
.img_wrapper img {
  width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
.big_separate {
  background: #9933ff;
  padding: 50px;
  text-align: center;
}
.wrapper_capt {
  margin: 20px 0 10px 0;
}
.section_capt {
  color: #404040;
  padding: 60px 0;
  text-align: center;
}
.shadow_separate {
  box-shadow: 0 0 6px 4px #dadada;
  -webkit-box-shadow: 0 0 6px 4px #dadada;
  -moz-box-shadow: 0 0 6px 4px #dadada;
  -o-box-shadow: 0 0 6px 4px #dadada;
}
.list_inline {
  list-style: none;
}
.list_inline li {
  display: inline-block;
}
.check_marker {
  text-align: left;
  list-style: none;
}
.check_marker li {
  background: url('../img/check-gray.jpg') no-repeat left center;
  padding-left: 35px;
}
.no_padd {
  padding: 0;
}
.img_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.margin_align {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.overlay {
  background: rgba(240, 62, 143, 0.5);
}
.base_bg {
  background: #f03e8f;
}
.inline_block {
  display: inline-block;
}
body {
  font-family: 'open_sans';
  font-size: 14px;
  color: #1a1a1a;
}
h1,
h2,
h3,
h4 {
  font-family: 'roboto_medium';
  margin-top: 0;
  margin-bottom: 0;
  text-shadow: 1px 1px 1px #dadada;
}
h1 {
  font-size: 35px;
}
h1.larg {
  font-size: 52.5px;
}
h2 {
  font-size: 28px;
}
h2.small {
  font-size: 19.6px;
}
h2.larg {
  font-size: 42px;
}
h3 {
  font-size: 21px;
}
h3.larg {
  font-size: 25.2px;
}
h4 {
  font-size: 18px;
}
span,
a {
  font-size: 12px;
}
a {
  color: #1a1a1a;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
a:hover {
  color: #f03e8f;
  text-decoration: none !important;
}
p.small {
  font-size: 12px;
}
p.larg {
  font-size: 16px;
}
.bold {
  font-family: 'roboto_medium';
  font-weight: bold;
}
.bolder {
  font-family: 'roleway_black';
  font-weight: bold;
}
.up {
  text-transform: uppercase;
}
.white_text {
  color: #ffffff;
}
.text_color_base {
  color: #f03e8f;
}
.light_black_color {
  color: #404040;
}
.light_font {
  font-family: 'roboto_light';
  font-weight: 100;
}
.medium_font {
  font-family: 'roboto_medium';
  font-weight: 200;
}
.margin_heading {
  margin-top: 20px;
  margin-bottom: 20px;
}
.sprite_nora_vibration {
  background-image: url(../img/nora-level-2.jpg);
  background-repeat: no-repeat;
  display: block;
  width: 70px;
  height: 40px;
}
.sprite_nora_vibration.low {
  background-position: left top;
}
.sprite_nora_vibration.medium {
  background-position: center center;
}
.sprite_nora_vibration.high {
  background-position: right center;
}
.sprite_nora_adv {
  background-image: url('../img/sprite_nora_advantage.png');
  background-repeat: no-repeat;
  display: block;
}
.sprite_nora_adv.sprite_nora_adv-control_ico {
  background-position: -5px -5px;
  width: 146px;
  height: 92px;
}
.sprite_nora_adv.sprite_nora_adv-play_ico {
  background-position: -5px -95px;
  width: 106px;
  height: 92px;
}
.sprite_nora_adv.sprite_nora_adv-sex_ico {
  background-position: -161px -5px;
  width: 144px;
  height: 92px;
}
.sprite_nora_bott {
  background-image: url('../img/sprite_nora_bott.png');
  background-repeat: no-repeat;
  display: block;
}
.sprite_nora_bott.sprite_nora_bott-sprite_nora {
  background-position: -5px -5px;
  width: 374px;
  height: 379px;
}
.sprite_nora_bott.sprite_nora_bott-sprite_nora_2 {
  background-position: -389px -5px;
  width: 353px;
  height: 354px;
}
.sprite_nora_bott.sprite_nora_bott-sprite_nora_3 {
  background-position: -389px -369px;
  width: 351px;
  height: 351px;
}
html {
  height: 100%;
  min-height: 100%;
}
body {
  min-height: 100%;
  position: relative;
}
.container-fluid {
  padding: 0 60px;
}
.container-fluid.full_width {
  padding: 0;
}
.container-fluid.small_padd {
  padding: 0 20px;
}
.img-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.mar_top_50 {
  margin-top: 50px;
}
.mar_top_20 {
  margin-top: 20px;
}
main.main_page .main_banner {
  background: url('../img/main_banner.jpg') no-repeat;
  background-size: cover;
  height: 550px;
}
main.main_page .text {
  margin-top: 350px;
}
main.main_page .about_smart {
  padding: 0 0 50px 0;
}
main.main_page .about_smart .title h2 {
  line-height: 2.5;
}
main.main_page .about_smart .smart_text {
  padding: 0 20px;
}
main.main_page .about_smart .smart_text p {
  line-height: 1.7;
}
main.main_page .screen_carousel {
  padding: 100px;
}
main.main_page .screen_carousel .screen_slides .slides {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
main.main_page .screen_carousel .carousel_about ul {
  padding: 0;
}
main.main_page .screen_carousel .carousel_about ul li {
  line-height: 2.3;
}
main.main_page .screen_carousel .carousel_about ul.device_ul li i {
  margin-right: 15px;
  font-size: 16px;
}
main.main_page .screen_carousel .carousel_controls {
  margin-top: 50px;
  text-align: center;
}
main.main_page .screen_carousel .carousel_controls a.prev {
  float: left;
}
main.main_page .screen_carousel .carousel_controls a.next {
  float: right;
}
main.main_page .screen_carousel .carousel_controls i {
  font-size: 60px;
}
main.main_page .advantage_instuction {
  background: url('../img/bf_rrr.jpg') no-repeat;
  background-size: cover;
  background: url('../img/bf_rrr.jpg') no-repeat 0 bottom;
  padding: 100px 0 300px 0;
  background-size: 100%;
}
main.main_page .advantage_instuction h2 {
  margin-bottom: 20px;
}
main.main_page .advantage_instuction .content .content_text div {
  margin-bottom: 0px;
  padding: 20px;
}
main.main_page .advantage_instuction .content .content_text div .wrapper {
  min-height: 200px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border: 1px solid #f03e8f;
}
main.main_page .advantage_instuction .content .content_text p {
  line-height: 1.7;
}
.main_wrapper {
  background: url('../img/banner.jpg') no-repeat;
  background-size: cover;
  height: 100%;
  padding: 150px 0 50px 0;
}
.main_wrapper .items_panels {
  margin-top: 100px;
}
.nora .top_wrapper {
  height: 600px;
  background: url('../img/nora-banner.jpg') no-repeat;
  background-size: cover;
}
.nora .text.bottom_text {
  margin-top: 350px;
}
.nora .item_opt {
  margin-top: 35px;
}
.nora .advantage .button {
  margin-top: 50px;
}
.nora .interface_view {
  margin-bottom: 100px;
  padding: 25px 0 50px 0;
}
.nora .instruction_steps {
  padding-bottom: 100px;
}
.nora .instruction_steps h1 {
  margin-bottom: 50px;
}
.nora .instruction_steps .button {
  margin-top: 50px;
}
.nora .instruction_steps .text p {
  font-size: 22px;
}
.nora .bot_advantage {
  padding: 50px 0;
}
.nora .item_text .check_marker {
  width: 85%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.nora .item_text .check_marker li {
  line-height: 2;
  font-size: 16px;
}
.nora .item_commplect {
  padding: 50px 0;
}
.nora .item_commplect .dildo_shem {
  height: 400px;
}
.nora .item_commplect .dildo_text {
  padding: 125px 0 0 125px;
  border-left: 1px dashed #dadada;
  height: 400px;
}
.nora .item_commplect ul li {
  line-height: 2.2;
  font-size: 16px;
}
header {
  padding: 15px;
}
.pre_footer {
  padding-top: 50px;
}
footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 50px;
  background: #1a1a1a;
}
.inline_nav {
  list-style: none;
  margin-bottom: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inline_nav a {
  font-size: 14px;
}
.inline_nav a.active {
  color: #f03e8f;
}
.button {
  display: block;
  width: 180px;
  padding: 13px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'roboto_medium';
  background: #f03e8f;
  color: #ffffff;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  text-align: center;
}
.button:hover {
  background: #ee2681;
}
.button:hover {
  color: #ffffff;
}
.button.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.button.larg {
  width: 360px;
}
.button.ultra_larg {
  width: 50%;
}
.button.transparent {
  background: transparent;
  color: #f03e8f;
  border: 2px solid #f03e8f;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.button.transparent:hover {
  background: #f03e8f;
  color: #ffffff;
}
.button.circle {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 90px;
  -webkit-border-radius: 90px;
  -moz-border-radius: 90px;
}
.screen_carousel .screen_slides .slides {
  width: 350px;
  position: relative;
}
.screen_carousel .screen_slides .slides .slides_container {
  padding-left: 50px;
  overflow: hidden;
  position: relative;
  width: 350px;
  height: 600px;
  list-style: none;
}
.screen_carousel .screen_slides .slides .slides_container li {
  right: 350px;
  position: absolute;
  top: 0;
  overflow: hidden;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.screen_carousel .screen_slides .slides .slides_container li.active {
  right: 0;
}
.screen_carousel .screen_slides .slides .slides_container li img {
  width: 350px;
  height: auto;
}
.screen_carousel .controls .controls_container {
  list-style: none;
  text-align: right;
  padding-right: 50px;
}
.screen_carousel .controls .controls_container li {
  cursor: pointer;
  display: inline-block;
  width: 120px;
  height: 210px;
  overflow: hidden;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.screen_carousel .controls .controls_container li img {
  width: 100%;
  height: auto;
}
.screen_carousel .controls .controls_container li.active {
  box-shadow: 0 0 0 3px #f03e8f;
  -webkit-box-shadow: 0 0 0 3px #f03e8f;
  -moz-box-shadow: 0 0 0 3px #f03e8f;
  -o-box-shadow: 0 0 0 3px #f03e8f;
}
.screen_carousel .carousel_controls * {
  color: #1a1a1a;
}
.items_panels .item_wrapper {
  padding: 0 40px;
}
.items_panels .item_wrapper .item {
  cursor: pointer;
  background: #d11068;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.items_panels .item_wrapper .item:hover {
  background: #ba0e5c;
}
.items_panels .item_wrapper .item_thumb {
  width: 30%;
  overflow: hidden;
}
.items_panels .item_wrapper .item_thumb img {
  max-width: 100%;
  height: auto;
}
.items_panels .item_wrapper .item_thumb img:hover {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  transform: scale(1.6);
  -ms-transform: scale(1.6);
  -o-transform: scale(1.6);
  -webkit-transform: scale(1.6);
  -moz-transform: scale(1.6);
}
.items_panels .item_wrapper .item_about {
  padding: 25px;
}
.items_panels .item_wrapper .item_about .more_btn {
  margin-top: 25px;
}
.item_preview .item_thumb {
  margin-bottom: 20px;
  width: 272px;
  height: 272px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #dadada;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
}
.item_preview .item_heading {
  margin-bottom: 10px;
}
.item_preview .item_options {
  text-align: center;
}
.item_preview .item_options ul {
  list-style: none;
}
.item_preview .item_options ul li {
  display: inline-block;
}
.item_preview .item_options.stimulation ul {
  text-align: center;
}
.item_preview .item_options.stimulation ul li {
  width: 30%;
}
.item_preview .item_options.stimulation ul li span {
  margin-left: auto;
  margin-right: auto;
  display: block;
  background: #acacac;
  width: 30px;
  height: 4px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin-bottom: 5px;
}
.item_preview .item_options.stimulation ul li span.pink {
  background: #f03e8f;
}
.item_preview .item_options.multiply_body ul {
  padding: 0;
}
.item_preview .item_options.multiply_body i {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.item_preview .item_heading {
  text-align: center;
}
.item_list {
  padding: 50px 0 100px 0;
}
.item_list.inline .item {
  height: 350px;
  position: relative;
}
.item_list.inline .item .item_wrapper {
  width: 90%;
  padding: 10px 0;
  border: 5px solid #f03e8f;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
}
.item_list.inline .item .item_wrapper .hidden_block {
  opacity: 0;
  height: 0;
  min-height: 0;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.item_list.inline .item .item_wrapper:hover .hidden_block {
  height: 350px;
  opacity: 1;
}
.item_list.inline .item .item_wrapper .item_thumb {
  height: 300px;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.item_list.inline .item .item_wrapper .item_thumb:hover {
  transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
}
.item_list.inline .item .item_wrapper .item_thumb img {
  max-width: 80%;
}
.item_list.inline .item .item_wrapper .item_title {
  text-align: center;
}
.item_list.inline .item .item_wrapper.no_bord {
  border: none;
}
.item_list.inline .item .hidden_btn {
  opacity: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.item_list.inline .item:hover .hidden_btn {
  opacity: 1;
}
.advantage {
  margin: 100px 0;
}
.advantage .item .item_wrapper {
  width: 250px;
  height: 250px;
  background: #f03e8f;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.advantage .item .item_wrapper:hover {
  transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
}
.advantage .item .item_wrapper:hover {
  background: #ee2681;
}
.advantage .item .item_wrapper .item_icon {
  padding-top: 50px;
}
.advantage .item .item_wrapper .item_icon * {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.advantage .item .item_wrapper .item_text {
  text-align: center;
}
.advantage .item .item_wrapper .item_text * {
  color: #ffffff;
}
.advantage.transparent .item .item_wrapper {
  width: 375px;
  height: 375px;
  overflow: hidden;
  background: transparent;
}
.advantage.transparent .item .item_wrapper .item_text * {
  color: #1a1a1a;
}
.advantage.transparent .item .item_wrapper .item_icon {
  padding-top: 0;
}
.nav-tabs {
  margin: 50px;
}
.nav-tabs a {
  font-size: 21px;
}
.nav-tabs.tab_center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
